<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tvOSCardAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CFD47651E9E7B4200D25B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CFD477E1E9E7B4200D25B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CFD47891E9E7B4200D25B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
